.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    justify-content: center;
}
.navbar-brand {
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
}
